.newUser {
    flex: 4;
    padding: 20px;
}
.newUserTitle {
    font-size: 25px;
    color: #5a5a5a;
    font-weight: 600;
    margin-bottom: 20px;
}
.newUserForm {
    display: flex;
    flex-wrap: wrap;
}
.userFormData {
    width: 400px;
    margin-right: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.userFormData input {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    padding: 5px;
}
.userFormData input:focus {
    outline: navajowhite;
}
.userGender {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.userGender input {
    margin-right: 5px;
}
.userGender label:first-of-type {
    margin-right: 15px;
}
.userActive {
    padding: 7px;
    font-size: 15px;
    margin-top: 5px;
}
.userFormBtn {
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    color: #fff;
    background-color: #5a5a5a;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    display: inline-block;
    margin : 40px 195px 0 auto;
}