.Featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featItem {
    flex: 1;
    padding: 25px;
    margin: 0 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.featItemHead {
    font-size: 22px;
    font-weight: 600;
    color: #767474;
}
.moneyWrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.money {
    font-size: 30px;
}
.moneyStats {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.moneyStatsIcon {
    color: green;
}
.moneyStatsIcon.negative {
    color: red;
}