.sidebar {
    flex: 1;
    position: sticky;
    background-color: #fbfbfb;
    height: calc(100vh - 50px);
    top: 50px;
}
.sideMenu {
    padding: 10px;
    font-size: 15px;
}
.sideWrapper {
    margin-bottom: 10px;
}
.listHead {
    color: #bfbaba;
}
.sideList {
    list-style: none;
    padding: 5px;
}
.sideList .sideListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    color: #706e6e
}
.sideList .sideListItem:hover, .sideList .active {
    background-color: #f3f0f0;
}
.sideList .sideListItem .sideListItemIcon {
    margin-right: 5px;
    font-size: 20px !important;
}