.user {
    flex: 4;
}
.userItem {
    display: flex;
    align-items: center;
}
.userItemImg {
    border-radius: 50%;
    margin-right: 10px;
}
.userEditBtn {
    color: #219c2f;
    cursor: pointer;
    margin-right: 20px;
}
.userDelBtn {
    color: #ea1a34;
    cursor: pointer;
}